.footer {
  display: flex;
  background-color: var(--gris);
  color: var(--crema);
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  columns: 4;
  height: 20rem;
  align-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}



.footer-column h4 {
  margin-bottom: 10px;
  font-family: "Heebo", sans-serif;
  list-style: none;
  padding: 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  color: var(--blanco);
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  list-style: none;
  padding: 0;
}

.footer-column ul li a:hover {
  text-decoration: underline;
  list-style: none;
  padding: 0;
}

.logo_img {
  width: 5rem;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.social-media li {
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  list-style: none;
  padding: 0;
}

.nosotros {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  align-items: stretch;
}

.nosotros h4 {
  margin: 0;
}

.nosotros ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nosotros ul li a {
  list-style: none;
  padding: 0;
  color: var(--crema);
}

.nosotros li {
  margin: 10px;
}

.p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.icono_redes {
  width: 3rem;
  padding: 5px;
}

.icono_AGM {
  width: 10rem;
}
