header {
  padding: 1rem;
  color: var(--azul);
  text-align: center;
  background-color: var(--gris);
  
}

nav {
  display: flex; 
  border-radius: 30px;
  justify-content: center; 
  gap: 5rem; 
  background: var(--btn);
  width: auto;
  margin: auto;
  
}
nav a {
  float: left;
  display: block;
  color:var(--amarillo);
  font-weight: 400;
  transition: 0.2s;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 2rem;
}
nav a:hover {
  color: var(--rojo);
  transition: 0.2s ;
}

nav a.active {
  margin-right: 10px;
}
