
header {
   /* background-color: var(--gris); */
    padding: 1rem; 
    color: white; 
    text-align: center; 
  }
  
  nav {
    display: flex; 
    justify-content: center; 
    gap: 2rem; 
    background-color: var(--gris);
    box-shadow: 0 2px 4px var(--home);
    width: 50%;
    margin: auto;
  }
  
  nav a {
    color: rgb(250, 5, 5);
    text-decoration: none; 
    font-size: 1rem;
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    transition: background-color 0.3s ease, color 0.3s ease;
  
  nav a:hover {
    background-color: #61dafb; 
    color: #282c34;
  }
  
  nav a.active {
    font-weight: bold; 
    background-color: #61dafb;
    color: #282c34; 
  }
}