.container {
    display: grid;
    gap: 1px;
    background-color: #444;
    margin-bottom: 20px;
}

.item {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
